<div class="navbar navbar-expand-sm navbar-light navbar-lewagon  <%= params[:action] == "home" ? "fixed-top homenav" : "sticky-top" %>">
  <div class="container-fluid">
    <div class="navbar-brand" href="#"></div>
    <ul>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">About us</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Catalog</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Tasting</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">The shops</a>
      </div>
      <div class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Contacts</a>
      </div>
    </ul>
      <div class="nav-end">
        <i class="fa-regular fa-heart" href="#"></i>
        <i class="fa-regular fa-user" href="#"></i>
        <i class="fa-solid fa-cart-shopping" href="#"></i>
      </div>
  </div>
</div>
