<div class="main">
    <div class="banner">
      <div class="container">
        <h1><strong>Wine House</strong></h1>
        <p>“I like on the table,when we're <br> speaking, the light of a bottle of <br> intelligent wine.”
            (c)
        </p>
        <button type="button" class="btn btn-outline-secondary">Choose your bottle</button>
        <div class="elips"></div>
        <i class="arrow"></i>
        <div>
          <img class="bottles" src="https://s3-alpha-sig.figma.com/img/6e4d/8211/e90d382fcb4b093265c4da3e22efe93f?Expires=1672617600&Signature=nZefGppYOTemfRYJ~DFLHjX7WA4ptUfUo8MRE4GeRzvYnYk0H56yTFjsM-hlxSxC2Bby-Hhy4DgdLy0IY3bSjwIBKz0mdgFWVKSXBKVg2EWY0vSD~YDFlMyVcxGJco5tZItI~lOMYk3Q7QqbNUgnlA5qUlU4pss99JBlZchQr2HO7XH1~3IfFX~U4sbjAoIdOBOBcZyYdo5ihBw4VY5npKMixzULMw6ExznfzcbrVeGTjxrIrIhRQzUjFWmBLl7GskGY4mLhCNd-VPhtg7IsSCxvJ37zUAh-gJ8sZHPNG~LrMSYFZKX2p3KVVSAQBOlF0Bo8vMURu4xpvXU9WeEPeg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
        </div>
        <i class="arrow-down"></i>
      </div>
    </div>


  <div class="second">
    <div class="gift-box">
      <p>GIFT BOXES</p>
    </div>

    <div class="card card-1" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/88cc/9977/5bbce8f5646d66f06dfc0b8f414f1df8?Expires=1672617600&Signature=p7dd1kuYx~TtAfEU7VpaUFu2ovwlKTarmK73WRDoavt5JHn4TjXfGsWtSAnm7BN6fKNhp4I886RZ6tnl02~csRzDMMS99xYduRC2yOf01It0vaq4ZgMqK93Uez16OlQDFPjYipn84NkWcBMOSVC1zEySicPFoxjllmxi3-uT03roIRyicfU1mDex341psMqaY15J7SEsiyQlTprpRhpCJSFfOSKpwoOqvnyUnyJi6Mo5Kkw-vf-DBHUd0knlJ9aFURoURGbvqNvHQIQEqOJdmQWLZlzcFJrUgQhuYjewlQRry~VH-1bBdyRK53byOCFUFsjCAvUdPY556MhiH3F08g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Macaroons palace gift box</h5>
        <p class="card-text"> starting from 90$</p>
      </div>
    </div>

    <div class="card card-2" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/e967/990c/4b0930a3ce6f3620e3018a37a09f63ad?Expires=1672617600&Signature=O2b5vadSh3~EzT7LeJEdR5eDH69TtzAxuvhLVsgLu4F2DBsCRMJDWQ2Paq-wO9p2AzsVYBZt1JmTshFsSDi855aYGliNe6MTlhunqMhFjFYFEO9nvfhTqNv-9iNdkcTgOuI9AQTf0JSFm9cID6NvCJdx5KraI9fqolkEvzTuqhIEnXENiSDB~PtLev3Udw1MJ0hM41iPaJLdMJ6awbHpBJkd~vPMNig6VxPw4h42gsuSu8fASPmpFljO2s6lWt12nWkWrkk0S2Rjol1pb-E6ko2Iduz7q1eJy2MT954VB~joljP-~ynGVGsvqzb4Z2GOGM8a53Qxn09ok3Wo6xjzLw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Elegant wine table gift box</h5>
        <p class="card-text"> starting from 120$</p>
      </div>
    </div>

    <div class="card card-3" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/1cac/0beb/4d55562ed786e66a034b61f646c5ebad?Expires=1672617600&Signature=WRMwLVuDUQRjm89renraHe0Kbt1Rm-Sa~dG-GZr4Wmlfz3wvBw4Ukhn-cwAqa9AzN6qWYzpAwHdz3WJp~OxNLaQa1Lld22N99ILFR0-iU7M-59jaDZ5sih3k7rt2pzu9tJCOUk~dT370HwnuTc3K1w4igafryLGCUoyBD2xfMFDPacvhgbxBOXlevCJ4JhJMSDc2HwSCCXx8tV1TDQemTQL9ML7uAM2hmxnHdO3zrgUBcVkq5~oLCDCI8fX1dstGlPGElDM3CcZ7SPnR~7g6FJbtHkFgjUeMIzBNC6Yx9sSnBs-oYz44lkpVmqKG0zN2~VtLeqazsSZ2TpWZ6I1HiA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cheese evening gift box</h5>
        <p class="card-text"> starting from 85$</p>
      </div>
    </div>

    <div class="card card-4" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/1c6b/0d65/a82c6267c2b62498fb6b8e73fc2a75a7?Expires=1672617600&Signature=deuC1kC08zpE9Cm7sAzamo5nUdrNr1v~TbCEEJOoTG0UoKDfVO35kDVvTbxpktQRKoer8ILgyFpBRKVb5lvJhvCC2FYOFMSiKPjIRaCLCHsyGSAhJGL2tY5D~n7jtJa1ArR0MU~kIQdtGDAAOMC3P1A~inIpUQPP5Cy7EU8hRK-OV8Q5IWfGYn-NcQPeR7gHYvyrHY7QFqTC70XhT~e5W3~2IPSKzCUrWdn3cS0rL7LxdvlzBUXSpJH0YU7leIh9-zdC1pQNrbc2YPIF50GORDBPecxTSDXgbPymY~DJQqZTdo8QsXItSmiZm7wW0Bf43slAQ47nLiAy20BZhHBeXw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Black set gift box</h5>
        <p class="card-text"> starting from 85$</p>
      </div>
    </div>

    <div class="banner-low">
      <div class="container-low">
        <h1><strong>About wine...</strong></h1>
        <p>
        In the wine world we call this trait fruit forward. <br> How is it that a completely dry wine can taste <br> sweeter than other wines?
        </p>
      </div>
    </div>
  </div>

  <div class="third">
    <div class="popular-choices">
      <p>POPULAR CHOICES</p>
    </div>

    <div class="card card-5" style="width: 18rem;">
        <i class="fa-solid fa-heart card-heart-1"></i>
        <img src="https://s3-alpha-sig.figma.com/img/3565/8af9/102c45020c43a05ddcca0a2ec5f607a8?Expires=1672617600&Signature=JEiL2NJ5Vvyq~NH5YoMAQQV8lxIF1eBZS34dawzd5Kw0DW8h6Au89CQaDnslmd8c-hQ-3TCkJIcsbsU1yHRbsUAdVebAwlo~gFkGl6TZvdxfpnSH4oRo9jBf2UP4wOBTw4ShpTCOyMeu263Rz1rXKFUNKG~4lDxVPrKwzDRj13zNz1XlDs5jKgDN~K87JX4JxDkm0ipZsPhBIfQ1~alWWs73k6S~m4Q9~EPqj~155JGUPFryNjmAj8fu7qfoBI59Hae-qMZ6XdluRZS-TFacS-dVK2OhcuMjk2yudCNVWz8KOJZ5zqblm7w-TKicqrCOS1UHI5BLCzX8UyZOJlGsIw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top wine-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Corte Alle Mura - Chianti</h5>
        <p class="card-text">$124</p>
      </div>
    </div>

    <div class="card card-6" style="width: 18rem;">
        <i class="fa-solid fa-heart card-heart-2"></i>
        <img src="https://s3-alpha-sig.figma.com/img/3565/8af9/102c45020c43a05ddcca0a2ec5f607a8?Expires=1672617600&Signature=JEiL2NJ5Vvyq~NH5YoMAQQV8lxIF1eBZS34dawzd5Kw0DW8h6Au89CQaDnslmd8c-hQ-3TCkJIcsbsU1yHRbsUAdVebAwlo~gFkGl6TZvdxfpnSH4oRo9jBf2UP4wOBTw4ShpTCOyMeu263Rz1rXKFUNKG~4lDxVPrKwzDRj13zNz1XlDs5jKgDN~K87JX4JxDkm0ipZsPhBIfQ1~alWWs73k6S~m4Q9~EPqj~155JGUPFryNjmAj8fu7qfoBI59Hae-qMZ6XdluRZS-TFacS-dVK2OhcuMjk2yudCNVWz8KOJZ5zqblm7w-TKicqrCOS1UHI5BLCzX8UyZOJlGsIw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="card-img-top wine-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jacob’s Creek - Shiraz Cabernet</h5>
        <p class="card-text">$154</p>
      </div>
    </div>

    <div class="card card-7" style="width: 18rem;">
        <i class="fa-solid fa-heart card-heart-3"></i>
        <img src="https://s3-alpha-sig.figma.com/img/4d97/a8df/bc08e14220bf81f9646c292748b02cd4?Expires=1672617600&Signature=YKzHLdj2M4trlboe~NWQbHbkYEQjFsi3EbLfIIiiRnLOnDLu61W1aDGkCXUc6wImTZhDCMQaeuAMaL0ZMVkpya1noMtgr5Hfx27rZ7wNvgKpLtoZHbz01q4OrF0Elx98~kzMdozhnepZcmxKHXd0AJxiwWYSIZR4meIDgx-Q3bEBkdw7mzY-y-0TkphiQg2W73U1QGRBKgBis9AzXYXv4UdNP8UqrPSQ2pvnE4xghF-NTgjtaPejUuSzxdkVRvKvIz4NYGFES-AOdnFnV94EM9Jr7P-rQdoc7YbPV2ugxSw6cHjiR6vROx0mFsumDbK2Pp-E-Sac7kgzotbSm-x48w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="wine-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Meyseri Azerbaijani Wine</h5>
        <p class="card-text">$174</p>
      </div>
    </div>

    <div class="card card-8" style="width: 18rem;">
        <i class="fa-solid fa-heart card-heart-4"></i>
        <img src="https://s3-alpha-sig.figma.com/img/d4c5/2e73/e3f7ae599228db38369a35ab997b7f69?Expires=1672617600&Signature=ox~qrBQ89qhsV~h25xcqE4x6v8fnmjCLs4UwxtrXx3~EKldsYYnXOgExv-H82S0MLpygiBumNxd9SvEGESVzFnCF-49Z7eoN10W~cHWQS17MkDj54fL7mgLn-cQsMkEYvwNZxUuLM4b1M6D3zcQxS-128Vc~aZS810-cDu8-g4vU2Ffz9qoaHEp4y9PLkcfEJelBLssu87hfmKlgJ47eZzNn-BaIdemFxTnKkMjKk0pqdJFUXBgL7j38hT2fJR2JTlLOi~HF79DMRf-j4UjtKWZh-s9yBRiRk5a3IuhUSoJzb9MxgvYbgepgz9nYK3Rh0-FxUY7EdybDRGdAdhga8w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" class="wine-img" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vina Adranza - Rioja</h5>
        <p class="card-text">$124</p>
      </div>
    </div>



  </div>












</div>
