.py-3 {
  position: absolute;
  width: 1440px;
  height: 504px;
  left: 0px;
  top: 4096px;

  background: #1B1B1B;
}

.logo-buttom {
  background: url(Logo.png);
  position: absolute;
  width: 91px;
  height: 33px;
  left: 32px;
  top: 33px;
}
